# IDE --VSCode
.vscode/*
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json

# img 
*.jpg
*.png 


önemli bilgiler/

# videos 
*.mp4


# packages 


# log 
*.log 

hakan_yalcinkaya/
password.txt